{% extends 'base.html.twig' %}

{% block body %}
<h1>Blog Edit</h1>
<div class = "coolBlue">
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input  class = "btn btn-default" type="submit" value="Update" />
    {{ form_end(edit_form) }}
</div>
    <ul>

            <a  href="{{ path('publication_index') }}"><< Back to the list</a>


            {{ form_start(delete_form) }}
                <input class = "btn btn-default" type="submit" value="Delete">
            {{ form_end(delete_form) }}

    </ul>
{% endblock %}
