{% extends 'base.html.twig' %}

{% block body %}
    <h1>Blog</h1>

    <table class ="records_list table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for publication in publications %}
            <tr>

                <td><a href="{{ path('publication_show', { 'id': publication.id }) }}">{{ publication.id }}</a></td>
                <td>{{ publication.name }}</td>
                <td>
                    <ul>

                            <a class = "btn btn-default" href="{{ path('publication_show', { 'id': publication.id }) }}">show</a>


                            <a class = "btn btn-default" href="{{ path('publication_edit', { 'id': publication.id }) }}">edit</a>

                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>

            <a class = "btn btn-default" href="{{ path('publication_new') }}">Create a new entry</a>
        
    </ul>
{% endblock %}
