{% extends 'base.html.twig' %}

{% block body %}
    <h1>Issue</h1>

    <table class="records_list table">
        <tbody>
            <tr>
                <th>Id:</th>
                <td>{{ issue.id }}</td>
            </tr>
            <tr>
                <th>Number:</th>
                <td>{{ issue.number }}</td>
            </tr>
            <tr>
                <th>Date publication:</th>
                <td>{% if issue.datePublication %}{{ issue.datePublication|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Cover:</th>
                <td>{{ issue.cover }}</td>
            </tr>
        </tbody>
    </table>

    <ul>

            <a href="{{ path('issue_index') }}"> << Back to the list</a>
            <br>
            <a   class = "btn btn-default" href="{{ path('issue_edit', { 'id': issue.id }) }}">Edit</a>

            {{ form_start(delete_form) }}
                <input class = "btn btn-default" type="submit" value="Delete">
            {{ form_end(delete_form) }}

    </ul>
{% endblock %}
